.not-resizable-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    overflow: hidden;
    resize: both;
    background-color: #c3c6e2;
}

.resizable-content {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    background-color: #C3E2CE;
}

.horizontal {
    resize: horizontal;
}

.vertical {
    resize: vertical;
}

.horizontal-button{
    position: absolute;
    top: 50%;
    left: 95%;
    cursor: e-resize;
}

.vertical-button{
    position: absolute;
    top: 90%;
    left: 50%;
    cursor: n-resize;
}